* {
	padding: 0px 0px;

	margin: 0;
}

body {
	background: #f4f4fa;
	font-family: 'Open Sans', sans-serif;
}

header {
	background: #310019;
	color: #fff;
	text-align: center;
	padding: 50px 10px;
	height: 400px;
	position: absolute;
	top: 0;
	width: 100%;
}

.logo {
	padding: 0px 30px;
	max-width: 350px;
}

main {
	margin-top: 150px;
}

main .contenedor {
	width: 90%;
	max-width: 1000px;
	margin: auto;
}

/* ------------------------- */
/* Estilos CSS del Reproductor */
/* ------------------------- */
.od-video {
	width: 100%;
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
}

.od-video .vjs-control-bar {
	background: #9a0051;
	color: #ffffff;
}

.od-video .vjs-play-progress,
.od-video .vjs-volume-level {
	background: #fab0d5;
}

.od-video .vjs-slider {
	background: #3a125f;
}

.video-js:hover .vjs-big-play-button {
	background: rgba(158, 12, 126, 0.911);
}

.od-video .vjs-big-play-button {
	background: rgba(0, 0, 0, 0.2);
	width: 80px;
	height: 80px;
	line-height: 80px;
	border-radius: 100%;
	border: none;
}

.od-video .vjs-big-play-button:hover {
	background: rgba(104, 11, 50, 0.5);
}

article {
	margin: 50px 0;
	background: #fff;
	color: #000;
	font-size: 16px;
	line-height: 28px;
	padding: 40px;
}

article h2 {
	color: #2d5f85;
	font-size: 32px;
	font-weight: normal;
	margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
	header {
		position: relative;
		height: auto;
	}

	main {
		margin-top: 50px;
	}

	img {
		padding: 2px 5px;
		height: 40px;
	}
}
