/*==================== GOOGLE FONTS ====================*/

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

* {
	padding: 0px 0px;

	margin: 0;
}

body {
	background: #f4f4fa;
	font-family: 'Source Sans Pro', sans-serif;
}

header {
	background: #310019;
	color: #fff;
	text-align: center;
	padding: 50px 10px;
	height: 400px;
	position: absolute;
	top: 0;
	width: 100%;
}

.logo {
	padding: 0px 30px;
	max-width: 350px;
}

main {
	margin-top: 150px;
}

main .contenedor {
	width: 90%;
	max-width: 1000px;
	margin: auto;
}

/* ------------------------- */
/* Estilos CSS del Reproductor */
/* ------------------------- */
.od-video {
	width: 100%;
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
}

.od-video .vjs-control-bar {
	background: #9a0051;
	color: #ffffff;
}

.od-video .vjs-play-progress,
.od-video .vjs-volume-level {
	background: #fab0d5;
}

.od-video .vjs-slider {
	background: #3a125f;
}

.video-js:hover .vjs-big-play-button {
	background: rgba(158, 12, 126, 0.911);
}

.od-video .vjs-big-play-button {
	background: rgba(0, 0, 0, 0.2);
	width: 80px;
	height: 80px;
	line-height: 80px;
	border-radius: 100%;
	border: none;
}

.od-video .vjs-big-play-button:hover {
	background: rgba(104, 11, 50, 0.5);
}

article {
	margin: 50px 0;
	background: #fff;
	color: #000;
	font-size: 16px;
	line-height: 28px;
	padding: 40px;
	border-radius: 15px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

article h1 {
	color: #9a0051;
	font-size: 32px;
	font-weight: normal;
	margin-bottom: 0px;
	text-align: center;
	font-weight: 800;
}

@media screen and (max-width: 600px) {
	header {
		position: relative;
		height: auto;
	}

	main {
		margin-top: 50px;
	}

	img {
		padding: 2px 5px;
		height: 40px;
	}
	article h1 {
		color: #9a0051;
		font-size: 20px;
		font-weight: normal;
		margin-bottom: 0px;
		text-align: center;
		font-weight: 800;
	}
}

/* button group*/

:root {
	font-size: 40px;
}

.networks {
	width: 100%;
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 100px 0px 50px 0px;
}

.netbox {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 10px;
	color: #444;
}
.netbox .icon {
	padding: 0.6rem 0.6rem;
	color: rgb(156, 156, 156);
	transition: color 140ms ease;
	margin: 0 0.4rem;
}
.netbox .icon:after {
	position: absolute;
	right: 0;
	bottom: 3.5rem;
	z-index: 20;
	content: attr(data-tip);
	display: block;
	width: auto;
	font-size: 0.6rem;
	color: #9a0051;
	background-color: #f9f8ff;
	padding: 1rem;
	opacity: 0;
	pointer-events: none;
	transform: translateY(1rem);
	transition: all 300ms ease 200ms;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.netbox .icon:hover {
	color: #430f6c;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.netbox .icon:hover:after {
	opacity: 1;
	transform: translateY(0);
}
.netbox:before {
	position: absolute;
	top: -0.5rem;
	right: 0;
	content: '';
	display: block;
	width: 100%;
	height: 1px;
	background-color: #9a0051;
}
.netbox:after {
	position: absolute;
	top: -0.8rem;
	right: 0;
	content: 'Encuentrame en Redes Sociales';
	font-size: 0.5rem;
	padding-left: 10px;
	background-color: #f4f4fa;
}
